name: Miracle deployment

on: [push]

jobs:
  deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"
      - name: Unpack existing ROMs
        run: |
          cd public
          curl -sL https://miracle.xania.org/miracle-roms.tar.gz | tar zx
      - name: Build distribution
        run: |
          npm ci
          npm run build
          rm -rf .git
      - uses: jakejarvis/s3-sync-action@master
        with:
          args: --cache-control max-age=30 --metadata-directive REPLACE
        env:
          AWS_REGION: us-east-2
          AWS_S3_BUCKET: miracle.xania.org
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          SOURCE_DIR: dist
